.home-container {
    width: 1300px;
    margin: auto;
    padding: 2rem 1rem;
}

.home-header {
    background-color: #792b88;
    text-align: center;
    margin-bottom: 4rem;
    padding: 3% 1%;
    box-shadow: 0 8px 30px rgba(160, 115, 115, 0.25);
    border-radius: 10px;
}

.home-title {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    font-weight: 700;
}

.title-mid {
    font-size: 2.5rem;
    color: #2c24bd;
    margin-bottom: 3rem;
    font-weight: 700;
    text-align: center;
}

.home-subtitle {
    font-size: 1.25rem;
    color: white;
    max-width: 700px;
    margin: 0 auto 2rem;
}

.section-features {
    margin-bottom: 4rem;
}

.features-map {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
}

.feature-box {
    background-color: #c467a0;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 100);
}
    
.feature-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    color: white;
}

.feature-desc {
    color: white;
}

.section-about {
    background-color: #b33f66;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 12px;
}

.title-lower {
    font-size: 3rem;    
    color: white;
}

.desc {
    width: 800px;
    margin: auto;
    color: white;
}