.text-primary  {
    color : var(--gui-primary)
}

.text-secondary {
    color: var(--gui-secondary);
}

.text-success {
    color: var(--gui-success);
}

.text-gray {
    color: rgb(228, 55, 55);
}

.text-danger {
    color: var(--gui-danger);
}

.bg-primary {
    background-color: var(--gui-primary);
    color: white;
}

.bg-secondary {
    background-color: var(--gui-secondary);
    color: white;
}

.bg-success {
    background-color: var(--gui-success);
    color: white;
}

.bg-danger {
    background-color: var(--gui-danger);
    color: white;
}

.bg-warning {
    background-color: var(--gui-warning);
    color: black;
}

.bg {
    background-color: rgb(112, 112, 201);
    color: black;
}