.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.item-centre {
    align-items: center;
}

.justify-centre {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: var(--gui-spacing-sm);
}

.gap-2 {
    gap: var(--gui-spacing-md);
}

.gap-3 {
    gap: var(--gui-spacing-lg)
}

.gap-4 {
    gap: var(--gui-spacing-xl)
}

.flex-1 {
    flex: 1 1 auto;
}

.flex-2 {
    flex: 2 1 auto;
}

.flex-3 {
    flex: 3 1 auto;
}

.flex-4 {
    flex: 4 1 auto;
}

