.grid-gap-1 {
    gap: var(--gui-spacing-sm)
}

.grid-gap-2 {
    gap: var(--gui-spacing-md)
}

.gui-border {
    border: 1px solid var(--gui-border-color, #ccc);
    border-radius: var(--gui-radius);
  }
  